<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
</head>
<body>
    <h1><%= product.name %></h1>
    <ul>
        <li>Brand: <%= product.brand %></li>
        <li>Warna: <%= product.color %></li>
        <li>Price: <%= product.price %></li>
        <li>
            Category: <a href="/product?category=<%= product.category %>"> <%= product.category %> 
            </a> 
        </li>

    </ul> 
   <a href="http://127.0.0.1:3000/product"> <button >Kembali</button> </a>

   <a href="/product/<%= product._id %>/edit"><button>Edit</button></a>

   <p>
        <form action="/product/<%= product._id %>?_method=delete" method="post">
            <button type="submit">Delete</button>
        </form>
    </p>

</body>
</html>